* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.deb .border {
    border: 3px dashed green;
}

:root {
    --white: #fff;
    --carbon: #333;
    --silver: #C3C3C3;
    --red: #E71837;
    --brown: #A37063;
    --blue: #0E4BEF;
    --yellow: #FCE903;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

.row {
    display: flex;
    flex-flow: column wrap;
}

.h-100 {
    height: 100%;
}

.min-h-200 {
    min-height: 200px;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.p-30 {
    padding: 30px;
}

.pv-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.po-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.m-20 {
    margin: 20px;
}

.mv-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

main {
    margin-top: 105px;
}

li {
    display: inline-block;
    list-style-type: none;
}

section {
    margin: 50px 0;
}

#navbar {
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    background-color: var(--red);
    color: var(--white);
}

#menu-desk {
    display: none;
}

#app {
    justify-content: space-between;
    display: flex;
    flex-flow: column wrap;
}

#app .card {
    background-color: var(--brown);
    border-radius: 20px;
    margin: 10px 5px;
}

#app .row:first-child {
    flex-basis: calc(100% /3);
}

#app .col {
    flex-basis: calc(100% / 3);
    margin: 0 -10px;
}