* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.deb .border {
    border: 3px dashed green;
}

:root {
    --white: #FFF;
    --primary: #9792E4;
    --dark: #333;
    --grey: #C3C3C3;
    --secondary: #0084FD;
    --secondary-light: #B5DDFF;
    --yellow: #FFC15D;
}

.c-primary {
    color: var(--primary);
}

.bg-secondarylight {
    background-color: var(--secondary-light);
}

.c-secondary {
    color: var(--secondary);
}

.c-dark {
    color: var(--dark);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-primary {
    background-color: var(--primary);
}

.c-white {
    color: var(--white);
}

.c-grey {
    color: var(--grey);
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.dp-flex {
    display: flex;
}

.row {
    display: flex;
    flex-flow: column wrap;
}

.txt-center {
    text-align: center;
}

.h-100 {
    height: 100%;
}

.min-h-170 {
    min-height: 170px;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.p-30 {
    padding: 30px;
}

.pv-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.m-20 {
    margin: 20px;
}

.mv-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--dark);
    text-align: center;
}

.btn-type1 {
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: bold;
}

.btn-type2 {
    padding: 30px 50px;
    color: var(--primary);
    border-radius: 30px;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    font-weight: bold;
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--white);
    font-weight: bold;
}

img {
    display: block;
}

nav a {
    color: var(--white);
    text-decoration: none;
}

main {
    margin-top: 100px;
}

main a {
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}

section {
    margin: 30px 0;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
}

#navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--secondary);
    color: var(--white);
}

#navbar .dp-flex {
    justify-content: space-between;
    align-items: center;
}

#menu-desk {
    display: none;
}

#menu-desk li {
    padding-left: 10px;
}

#app .card {
    border-radius: 20px;
    background-color: var(--light-secondary);
}

#app .lcard {
    padding-bottom: 0;
}

#app .col {
    padding: 10px;
    max-width: 100%;
}

#app .card-content .btn {
    width: 80%;
}

#app .card-image {
    padding-top: 25px;
    width: 100%;
}

#plan {
    color: var(--white);
}

#plan .btn-primary {
    border-radius: 50%;
    color: var(--dark);
    padding: 10px 20px;
}

#plan .row .col:last-child div {
    color: var(--dark);
    border-radius: 15%;
    background-color: var(--white);
}

#models {
    text-align: center;
}

#models .col div {
    color: var(--white);
    border-radius: 35px;
    background-color: var(--primary);
}

#models h2 {
    color: var(--primary);
}

#models .card-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0;
    object-fit: cover;
}

#benefits {
    color: var(--white);
    background-color: var(--primary);
}

#benefits .card {
    border-radius: 20px;
    background-color: var(--white);
    color: var(--dark);
}

#benefits .col {
    padding: 10px;
}

#benefits .card-content .btn {
    width: 50%;
}

#benefits .card span {
    font-weight: bold;
    font-size: 3.0rem;
}

#about-us h3,
#about-us h2 {
    color: var(--primary);
}

#benefits .row {
    margin: 0 -10px;
}

#info h2 {
    font-size: 3.0rem;
}

#info p {
    line-height: 2.8rem;
}

#info .card-image {
    height: 200px;
    width: 200px;
    position: relative;
}

#info .card-image img {
    border-radius: 50%;
}

#about-us h3 {
    font-size: 2.0rem;
}

#about-us .btn.btn-primary {
    font-weight: normal;
}


footer {
    margin: 0;
}

#start {
    color: var(--white);
    background-color: var(--primary);
}

#start h1 {
    color: var(--yellow);
}

#start .row {
    align-items: center;
}

#start .row>* {
    margin: 15px 0;
}

@media screen and (min-width: 769px) {

    #app .row .col:first-child {
        max-width: calc(100% / 3 * 2);
    }

    #app .card-image {
        width: 60%;
    }

    #app .card-content .btn {
        width: 50%;
    }

    #app .row .col {
        max-width: calc(100% / 3);
    }

    #app .row {
        flex-direction: row;
    }

    #plan h2 {
        font-size: 5rem;
    }

    #models .card {
        justify-content: baseline;
        display: flex;
    }

    #models .card-content {
        text-align: initial;
        padding-left: 1.8rem;
    }

    #benefits .col {
        width: calc(100% / 2);
    }

    #benefits .row {
        flex-direction: row;
    }

    #info .row {
        justify-content: space-between;
        flex-direction: row;
    }

    #info .col:last-child {
        width: 30%;
    }

    #info h2 {
        font-size: 4rem;
    }

    #info h1 {
        font-size: 4rem;
    }

    #info .col:first-child {
        width: 60%;
    }

    #start .row {
        align-items: center;
    }

    #start .container {
        max-width: 60%;
    }

    #bottom-info .container {
        max-width: 60%;
    }
}

@media screen and (min-width: 995px) {

    .container {
        max-width: 80%;
    }

    main {
        margin-top: 100px;
    }

    #menu-mob {
        display: none;
    }

    #navbar {
        height: 70px;
    }

    #menu-desk {
        display: block;
    }

    #app .lcard {
        display: flex;
    }

    #app .lcard .card-image {
        width: 50%;
    }

    #app .lcard .card-content {
        width: 40%;
    }

    #app .card-content .btn {
        width: 80%;
    }

    #plan .container {
        width: 60%;
    }

    #plan .row {
        justify-content: space-between;
        flex-direction: row;
    }

    #plan .col {
        width: 40%;
    }

    #plan .col:last-child img {
        width: 50%;
        margin: 0 auto;
    }

    #plan .col:last-child {
        align-self: flex-end;
    }

    #bottom-foot .container {
        max-width: 40%;
    }

    #start .container {
        max-width: 40%;
    }

    #benefits .col {
        max-width: calc(100% / 3);
    }
}

@media screen and (min-width: 1201px) {

    .container {
        max-width: 1140px;
    }

    #start .container {
        max-width: 30%;
    }

    #plan .container {
        width: 50%;
    }
}